@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Welcome to Responsive .NET Core 3 App</h2>
            <p>This page is built with Bootstrap 4 and ASP.NET Core 3.</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="https://via.placeholder.com/400" class="img-fluid rounded" alt="Responsive Image" />
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Feature 1</h5>
                    <p class="card-text">Description of feature 1.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Feature 2</h5>
                    <p class="card-text">Description of feature 2.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Feature 3</h5>
                    <p class="card-text">Description of feature 3.</p>
                </div>
            </div>
        </div>
    </div>
</div>
